<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h1>Menu</h1>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="250px">
      <mat-grid-tile *ngFor="let wine of wines">
        <img height="200px" src={{wine.image}} alt={{wine.name}}>
        <div>
          <p> <span> {{wine.description}} </span> </p>
          <p> País: {{wine.country}} <br> Preço: {{wine.price}} </p>
        </div>
        <mat-grid-tile-footer>
          <h1>{{wine.name | uppercase}}</h1> 
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf="selectedWine" class="div-do-card">
    <mat-card class="card1">
      <mat-card-header>
        <mat-card-title>
          <h3>{{selectedWine.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{selectedWine.image}} alt={{selectedWine.name}}>
      <mat-card-content>
        <p>{{selectedWine.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
