<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h1>Menu</h1>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="250px">
      <mat-grid-tile *ngFor="let wine of wines" (click) = "onSelect(wine)">
        <img height="200px" src={{wine.image}} alt={{wine.name}}>
        <div>
          <p> <span> {{wine.description}} </span> </p>
          <p> País: {{wine.country}} <br> Preço: {{wine.price}} </p>
        </div>
        <mat-grid-tile-footer>
          <h1>{{wine.name | uppercase}}</h1> 
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <app-wine-details [wine] = "selectedWine"></app-wine-details>


</div>
